.everything {
  background-color: #626A70; }

header {
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-color: #FCFBE3; }

.topCatagory {
  width: 100%;
  height: 1000px; }

.andMatch {
  width: 100%;
  height: 1000px; }

.andMatch {
  width: 102%;
  height: 100px;
  font-family: 'Amatic SC', cursive;
  display: inline-block;
  background-color: #FCFBE3;
  color: #D3B18C;
  text-align: center;
  font-size: 58px;
  margin-left: -22px;
  display: inline-block; }

.spoon {
  display: inline-block;
  width: 91%;
  float: left;
  /* right: 7%; */
  position: relative;
  right: -5%;
  top: -114%; }

.matchFont {
  font-family: 'Amatic SC', cursive;
  color: #D3B18C;
  position: relative;
  left: -49%;
  font-size: 56px; }

.knife {
  display: inline-block;
  position: relative;
  float: right;
  width: 27%;
  top: -438px;
  left: -8%; }

.chef1 {
  text-align: center;
  width: 30%;
  background-color: lightblue;
  float: left;
  height: 400px;
  display: inline-block;
  margin-left: 35px; }

.chef2 {
  width: 30%;
  border: 2px red solid;
  float: left;
  height: 400px;
  display: inline-block; }

.chef3 {
  width: 30%;
  border: 2px red solid;
  float: left;
  height: 400px;
  display: inline-block; }

.topNav {
  width: 100%;
  height: 75px;
  border: 2px solid brown; }

.navbarnavbar-inverse {
  background-color: #626A70; }

.navnavbar-nav {
  margin-right: 6%;
  text-align: center; }

.menuText {
  color: white;
  font-family: 'Amatic SC', cursive;
  font-size: 30px; }

.loginView1 {
  padding-right: 30px;
  display: inline-block;
  text-align: center;
  display: inline-block; }

.loginView2 {
  padding-right: 30px;
  display: inline-block;
  text-align: center;
  display: inline-block; }

.loginView3 {
  padding-right: 30px;
  display: inline-block;
  text-align: center;
  display: inline-block; }

.loginView4 {
  padding-right: 30px;
  display: inline-block;
  text-align: center;
  display: inline-block; }

.loginContainer {
  position: relative;
  right: -35%;
  border: 2px solid white;
  width: 24%;
  height: 350px;
  background-color: #FCFBE3;
  bottom: -70px; }

h1 {
  font-family: 'Amatic SC', cursive; }

#loginType {
  font-family: 'Amatic SC', cursive;
  position: relative;
  left: 45%;
  bottom: -18px; }

.loginFont {
  font-family: 'Amatic SC', cursive;
  color: #D2B08C;
  text-align: center; }

#form-group {
  float: left; }

#createContainer {
  position: relative;
  left: -6%;
  top: 52px;
  width: 60%;
  height: 700px;
  /* border: 2px solid red; */
  background-color: #FCFBE3; }

label {
  font-family: 'Amatic SC', cursive;
  font-size: 20px; }

#time {
  width: 30%; }

@media all and (max-width: 450px) {
  .header {
    display: none; }
  .loginContainer {
    width: 70%;
    margin-right: 60px;
    position: relative;
    left: 17%; }
  .knife {
    display: none; }
  .spoon {
    display: none; }
  .andMatch {
    position: relative;
    left: 4%; }
  .matchFont {
    position: relative;
    left: 4%; }
  .chef1 {
    display: block;
    height: 400px;
    width: 100%;
    margin-left: 0; }
  .chef2 {
    display: block;
    height: 400px;
    width: 100%;
    margin-left: 0; }
  .chef3 {
    display: block;
    height: 400px;
    width: 100%;
    margin-left: 0; }
  #createContainer {
    position: relative;
    left: -3%;
    top: 52px;
    width: 103%;
    height: 739px;
    /* border: 2px solid red; */
    background-color: #FCFBE3; } }

@media all and (min-width: 453px) and (max-width: 540px) {
  .header {
    display: none; }
  .loginContainer {
    width: 62%;
    right: -20%; }
  .knife {
    display: none; }
  .spoon {
    display: none; }
  .andMatch {
    position: relative;
    left: 4%; }
  .matchFont {
    position: relative;
    left: 4%; }
  .chef1 {
    display: block;
    height: 400px;
    width: 100%;
    margin-left: 0; }
  .chef2 {
    display: block;
    height: 400px;
    width: 100%;
    margin-left: 0; }
  .chef3 {
    display: block;
    height: 400px;
    width: 100%;
    margin-left: 0; }
  #createContainer {
    position: relative;
    left: -3%;
    top: 52px;
    width: 103%;
    height: 739px;
    /* border: 2px solid red; */
    background-color: #FCFBE3; } }

@media all and (min-width: 454px) {
  .loginContainer {
    width: 56%;
    right: -21%; }
  .logo {
    width: 63%;
    margin-left: 19%; }
  .spoon {
    display: none; }
  .matchFont {
    display: inline-block;
    right: -86px;
    position: relative;
    left: 5%;
    font-size: 60px; }
  .knife {
    display: none; }
  .chef1 {
    width: 100%;
    border: 2px red solid;
    /* float: left; */
    height: 400px;
    display: inline-block;
    margin-left: 0.1px; }
  .chef2 {
    width: 100%;
    border: 2px red solid;
    /* float: left; */
    height: 400px;
    display: inline-block;
    margin-left: 0.1px; }
  .chef3 {
    width: 100%;
    border: 2px red solid;
    /* float: left; */
    height: 400px;
    display: inline-block;
    margin-left: 0.1px; }
  #createContainer {
    position: relative;
    left: 1%;
    top: 52px;
    width: 98%;
    height: 739px;
    /* border: 2px solid red; */
    background-color: #FCFBE3; } }

@media all and (min-width: 455px) {
  .loginContainer {
    width: 56%;
    right: -21%; }
  .logo {
    width: 57%;
    margin-left: 21%; } }

@media all and (min-width: 456px) {
  .loginContainer {
    width: 80%;
    right: -21%; }
  .logo {
    width: 50%;
    margin-left: 24%; } }

@media all and (min-width: 460px) {
  .loginContainer {
    width: 51%;
    right: -21%; }
  .logo {
    width: 47%;
    margin-left: 24%; } }

@media all and (min-width: 461px) {
  .loginContainer {
    width: 51%;
    right: -21%; }
  .logo {
    width: 43%;
    margin-left: 24%; }
  .andMatch {
    margin-left: -7px; }
  .matchFont {
    display: inline-block;
    /* right: -86px; */
    position: relative;
    left: 11%;
    bottom: 218%;
    font-size: 60px; }
  .spoon {
    display: inline-block;
    width: 105%;
    position: relative;
    bottom: 32px;
    left: 12px; }
  .knife {
    display: inline-block;
    position: relative;
    float: right;
    width: 27%;
    top: -262px;
    left: -8%; } }

@media all and (min-width: 462px) {
  .everything {
    background-color: #626A70; }
  .logo {
    width: 32%;
    margin-left: 31%; }
  header {
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-color: #FCFBE3; }
  .topCatagory {
    width: 100%;
    height: 1000px; }
  .andMatch {
    width: 100%;
    height: 1000px; }
  .andMatch {
    width: 102%;
    height: 100px;
    font-family: 'Amatic SC', cursive;
    display: inline-block;
    background-color: #FCFBE3;
    color: #D3B18C;
    text-align: center;
    font-size: 58px;
    margin-left: -22px;
    display: inline-block; }
  .spoon {
    display: inline-block;
    width: 91%;
    float: left;
    /* right: 7%; */
    position: relative;
    right: -5%;
    top: -37%; }
  .matchFont {
    font-family: 'Amatic SC', cursive;
    color: #D3B18C;
    position: relative;
    font-size: 56px;
    bottom: 265px; }
  .knife {
    display: inline-block;
    position: relative;
    float: right;
    width: 27%;
    top: -329px;
    left: -8%; }
  .chef1 {
    width: 30%;
    border: 2px red solid;
    float: left;
    height: 400px;
    display: inline-block;
    margin-left: 35px; }
  .chef2 {
    width: 30%;
    border: 2px red solid;
    float: left;
    height: 400px;
    display: inline-block; }
  .chef3 {
    width: 30%;
    border: 2px red solid;
    float: left;
    height: 400px;
    display: inline-block; }
  .topNav {
    width: 100%;
    height: 75px;
    border: 2px solid brown; }
  .navbarnavbar-inverse {
    background-color: #626A70; }
  .navnavbar-nav {
    margin-right: 6%;
    text-align: center; }
  .menuText {
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 30px; }
  .loginView1 {
    padding-right: 30px;
    display: inline-block;
    text-align: center;
    display: inline-block; }
  .loginView2 {
    padding-right: 30px;
    display: inline-block;
    text-align: center;
    display: inline-block; }
  .loginView3 {
    padding-right: 30px;
    display: inline-block;
    text-align: center;
    display: inline-block; }
  .loginView4 {
    padding-right: 30px;
    display: inline-block;
    text-align: center;
    display: inline-block; }
  .loginContainer {
    position: relative;
    right: -35%;
    border: 2px solid white;
    width: 24%;
    height: 350px;
    background-color: #FCFBE3;
    bottom: -70px; }
  h1 {
    font-family: 'Amatic SC', cursive; }
  #loginType {
    font-family: 'Amatic SC', cursive;
    position: relative;
    left: 45%;
    bottom: -18px; }
  .loginFont {
    font-family: 'Amatic SC', cursive;
    color: #D2B08C;
    text-align: center; }
  #form-group {
    float: left; }
  #createContainer {
    position: relative;
    left: -6%;
    top: 52px;
    width: 60%;
    height: 700px;
    /* border: 2px solid red; */
    background-color: #FCFBE3; }
  label {
    font-family: 'Amatic SC', cursive;
    font-size: 20px; }
  #time {
    width: 30%; } }

@media all and (min-width: 1273px) {
  .logo {
    width: 25%;
    margin-left: 34%; }
  .spoon {
    display: inline-block;
    width: 91%;
    float: left;
    /* right: 7%; */
    position: relative;
    right: -5%;
    top: -76%; }
  .knife {
    display: inline-block;
    position: relative;
    float: right;
    width: 27%;
    top: -428px;
    left: -8%; }
  .matchFont {
    font-family: 'Amatic SC', cursive;
    color: #D3B18C;
    position: relative;
    bottom: 327px;
    width: 58px; }
  .test-box {
    background-color: lightblue;
    width: 24%;
    height: 400px;
    border: 1px solid black; }
  .picture-container img {
    max-width: 100px;
    max-height: 100px; } }
